
.endJustifiedFlex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.startJustifiedFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.CommonP p{
  margin: 0;
  padding: 0
          }

.flexRowDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.defaultFlex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColumnDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

